.catWrap {

    @include minmedia(768px) {
        @include colset(3,24); 
    }


    @include minmedia(1024px) {
        @include colset(3,32); 
    }

}


.catItem {
    position: relative; overflow: hidden;

    .anim.in {
        a {
            &:before { opacity: 1; }
        }
    }

    a {
        &:before {
            content: attr(data-label); font-size: 32px; letter-spacing: 6px; text-transform: uppercase; text-decoration: none; 
            padding: 48px; background: linear-gradient(-22deg, rgba(0,0,0,0.75), transparent); height: 100%;
            box-sizing: border-box; display: flex; position: absolute; width: 100%; left: 0; height: 100%; align-items: flex-end; 
            justify-content: center; color: #fff; opacity: 0; z-index: 9; transition: 0.7s ease;
        }

        &:after {
            content: ''; height: calc(100% - 60px); width: calc(100% - 60px); top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; 
            border: 8px solid #fff; transition: 0.45s ease; opacity: 0.5;
        }
    }
   
    @include minmedia(768px) {
     
        margin: 90px 0 0;
        &:nth-child(3n - 1) {
            transform: translateY(-90px);
        }
         
    }

}




.usp { position: relative; overflow: hidden;

    &:before, &:after { content: ''; height: 460px; width: 460px; background: linear-gradient(45deg, #ffe0e0, transparent); display: block; position: absolute; transform: rotate(55deg); right: 0;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); }
    
    &:after { bottom: 36%; left: 0; right: inherit; transform: rotate(25deg); }
    
    .inwrap {
        max-width: 700px; margin: 0 auto; 
    }

    @include minmedia(640px) {
        .block { max-width: 460px; padding: 34px 0; }
        .block:nth-child(2n) { margin-left: auto; text-align: right; }
    }


}

