@use "../common/mixins";

.gallery  {
    .wrap {
        @include mixins.minmedia(768px) {
            @include mixins.colset(3,16);
        }

        @include mixins.minmedia(1024px) {
            @include mixins.colset(4,22);
        }

        .column {
            @include mixins.minmedia(768px) {
                margin-bottom: 16px;
            }

            @include mixins.minmedia(1024px) {
                margin-bottom: 22px;
            }

        }

    }

    a {
        height: 100%;
    }

    img {
        height: 100%; object-fit: cover;
    }
}