@use "../common/mixins";

.mediaCont {

  .mediaWrap {
    margin: 0 0 42px;
  }
  

  @include mixins.minmedia(768px) {
    
    .mediaWrap {
      margin: 0;
    }

    .contWrap {
      padding-left: max(44px, 8%);
    }

    .reverse {
      .contWrap {
        padding-left: 0; padding-right: max(44px, 8%);
      }

      &.leftPull {
        padding-left: max(44px, 8%);
      }
    }

    .rightPull {
      .contWrap {
        padding-right: max(44px, 8%);
      }
    }

  }
 
}