/*-- Theme Variables --*/
$wrapperWidth : min(100%, 2260px);
$bodyFonts : 'PP Pier Sans';
$headingFonts : "quincy-cf";
$primaryColor: #000;
$secondaryColor : #330011;
$black : #101010;
$headingColor : #f97a42;
$wrapperWidth : 1600px;