{#
    Disconnect a related content from the current post removing the association.

    @since m2m
#}

<div style="float: left; width: 145px;">
    <i class="fa fa-exclamation-triangle fa-5x" style="margin: 40px;"></i>
</div>
<div style="float: left; width: 404px; padding-left: 16px;">
    <p><strong>{{ strings.cannotBeUndone }}</strong></p>
    <p>{{ strings.doYouReallyWantDelete }}</p>
</div>
