{#
	Disabled template

	It is used when the current post is not translated to default language
#}
<div class="notice notice-warning inline types-warning">
	<p>{{ __('<strong>WARNING!</strong> This post has to be translated to default language in order to add related content', 'wpcf' ) | raw }}</p>
</div>
