{#
    Disconnect a related content from the current post removing the association.

    @since m2m
#}
<div class="toolset-confirmation-dialog">
    <div class="toolset-confirmation-dialog-icon">
        <i class="fa fa-5x fa-exclamation-triangle"></i>
    </div>
    <div class="toolset-confirmation-dialog-content">
        <p>{{ strings.doYouReallyWantDisconnect }}</p>
        <p><strong>{{ strings.cannotBeUndone }}</strong></p>
    </div>
</div>