{#
	'Add new' page

	It is used when the post doesn't exist yet. 'Add new' page.
#}
<div class="notice notice-warning inline types-warning">
	<p>{{ __('You will be able to add related posts when you save this post', 'wpcf' ) | raw }}</p>
</div>
