:root {
  --clr-primary: #25497a;
  --clr-secondary: #656565;
  --clr-accent: #fffbf6;
  --clr-white: #fff;
  --clr-black: #000;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::backdrop {
  background-color: transparent;
}

dialog {
  width: 100%;
  visibility: hidden;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  max-width: inherit;
  max-height: inherit;
  display: block;
  position: fixed;
  top: 0;
  left: auto;
  border: none;
  box-shadow: none;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  background: transparent;
  transition: var(--tr-ease) var(--tr-speed) visibility;
}
dialog:before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  mix-blend-mode: multiply;
  opacity: 0;
  transition: var(--tr-ease) var(--tr-speed) opacity;
}

@media (min-width: 992px) {
  dialog {
    transition-delay: var(--tr-speed);
  }
  dialog:before {
    background-color: color-mix(in srgb, var(--clr-black) 80%, transparent 20%);
    transition-delay: 0.75s;
  }
}
dialog[open] {
  visibility: visible;
  transition-delay: 0s;
}

dialog[open]::before {
  opacity: 1;
  transition-delay: 0s;
}

svg {
  max-width: 100%;
  width: 100%;
  height: auto;
  fill: var(--fill, var(--color));
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
h1, .fs38 {
  font-size: clamp(32px, 0.625vw, 38px);
}

.ar-1-1 {
  aspect-ratio: 1 / 1;
}

.ar-2-3 {
  aspect-ratio: 2 / 3;
}

.ar-3-2 {
  aspect-ratio: 3 / 2;
}

.ar-4-3 {
  aspect-ratio: 4 / 3;
}

.ar-16-9 {
  aspect-ratio: 16 / 9;
}

.ar-9-16 {
  aspect-ratio: 9 / 16;
}

.bg-primary {
  background-color: #25497a;
}

.clr-primary {
  color: #25497a;
}

.bg-secondary {
  background-color: #656565;
}

.clr-secondary {
  color: #656565;
}

.bg-accent {
  background-color: #fffbf6;
}

.clr-accent {
  color: #fffbf6;
}

.bg-white {
  background-color: #fff;
}

.clr-white {
  color: #fff;
}

.bg-black {
  background-color: #000;
}

.clr-black {
  color: #000;
}

.o-section {
  padding: var(--pt) var(--px, 22px) var(--pb);
}

.o-flex {
  display: flex;
  flex-wrap: var(--wrap, wrap);
  flex-direction: var(--direction, row);
  justify-content: var(--justify, flex-start);
  align-items: var(--align, stretch);
  column-gap: var(--gapx, 0);
  row-gap: var(--gapy, 0);
}
.o-flex.is-column {
  --direction: column;
}
.o-flex.is-row {
  --direction: row;
}
.o-flex.is-center {
  --justify: center;
  --align: center;
}
.o-flex.align-center {
  --align: center;
}
.o-flex.justify-center {
  --justify: center;
}

.u-hide {
  display: none;
}

@media (max-width: 991px) {
  .u-sm-hide {
    display: none;
  }
}

@media (min-width: 992px) {
  .u-md-hide {
    display: none;
  }
}

/*# sourceMappingURL=1theme.css.map */
