{#

    The Edit Relationship screen that is being inserted into the Relationships page content.

    @since m2m
#}


<div id="types-edit-relationship-wrap">

    {% include '@toolset/pseudo_metabox_container.twig' %}

</div>