<div style="float: left; width: 145px;">
    <i class="fa fa-info-circle fa-5x" style="margin: 40px;"></i>
</div>
<div style="float: left; width: 404px; padding-left: 16px;">
    <p data-bind="html: deleteFieldGroupWarning()"></p>
    <div data-bind="html: listRepeatableGroups()"></div>
</div>
