<div style="float: left; width: 145px;">
    <i class="fa fa-warning fa-5x" style="margin: 40px;"></i>
</div>
<div style="float: left; width: 404px; padding-left: 16px;">
    <p>
        {{ __( 'You need to save the field group, before you can make this field repeatable.', 'wpcf' ) }}
    </p>
</div>