// ==========================================================================
// Breakpoints map
// ==========================================================================
$breakpoints: (
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1680px,
);


// ==========================================================================
// COLOR VARIABLES (Settings Layer)
// ==========================================================================
$colors: (
  'primary': #25497a,
  'secondary': #656565,
  'accent': #fffbf6,
  'white': #fff,
  'black': #000,
);


// ==========================================================================
// COLOR VARIABLES (Settings Layer)
// ==========================================================================
$aspectratios: (
  "1-1": "1 / 1",
  "2-3": "2 / 3",
  "3-2": "3 / 2",
  "4-3": "4 / 3",  
  "16-9": "16 / 9",
  "9-16": "9 / 16"
);

// =============================================================================
// FONT FAMILIES
// =============================================================================

$font-family-primary: 'Playfair Display';
$font-family-secondary: 'Gotham';
$font-family-body:
  #{$font-family-secondary},
  'Helvetica Neue',
  Helvetica,
  -apple-system,
  Arial,
  sans-serif;


// =============================================================================
// FONT SIZES
// h1, .fs38{ font-size:clamp(32px,0.625vw,38px)}
// =============================================================================
$font-sizes: (
  'h1, .fs38': (32 38),
);
