<div id="types-metabox-relationships">
	<div class="notice notice-success below-h2">
		<p>{{ __( 'This is an intermediary post type for the <a href="%s">%s</a> relationship.', 'wpcf' ) | format( link, name ) | raw }}</p>
	</div>
</div>
