<div id="types-metabox-relationships">
	<div class="notice notice-error below-h2">
		<p>{{ __( 'This post type is marked as an intermediary post type of a relationship, but the relationship is missing. Please check if your relationships are defined correctly.', 'wpcf' ) }}</p>
		<p>{{ __( 'You can visit the <a href="%s">Toolset Troubleshooting</a> page and fix the status of this post type.', 'wpcf' ) | format( troubleshooting_page_link ) | raw }}</p>
		<p>{{ __( 'If you encounter any problems, please contact our user support. We\'re sorry about the inconvenience.', 'wpcf' ) }}</p>
	</div>
</div>
