<div style="float: left; width: 145px;">
    <i class="fa fa-exclamation-triangle fa-5x" style="margin: 40px;"></i>
</div>
<div style="float: left; width: 404px; padding-left: 16px;">
    <p>{{ __('Deleting repeatable group will remove all data created with this group.', 'wpcf' ) }}</p>
    <p><strong>{{ __( 'This cannot be undone!', 'wpcf') }}</strong></p>
    <p>{{ __( 'Do you really want to delete?', 'wpcf' ) }}</p>
</div>