<div style="float: left; width: 145px;">
    <i class="fa fa-info-circle fa-5x" style="margin: 40px;"></i>
</div>
<div style="float: left; width: 404px; padding-left: 16px;">
    <p>{{ __('The conditions of this Field Group cannot be changed as long as a Repeatable Group or a Post Reference field is used.', 'wpcf' ) }}</p>
</div>