.hamIcon{ width: 35px; background: inherit; border: inherit; position: relative; background: inherit; padding: 0;
	min-width: inherit; box-shadow: none;
	span{ display: block; height: 4px; background: #010050; margin: 6px 0; border-radius: 80px;  }
	
	&:after, &:before{ content: ''; display: block; height: 4px; border-radius: 8px; background: #010050; opacity: 1;
	transition: 0.75s all ease; position: relative; top: inherit; left: inherit; border: none; width: 100%; }

	&:hover, &:active, &:focus{ border: none; outline: none; background: none; box-shadow: none;
		&:after, &:before{ height: 4px; }
	}

	&.open{
		span{ opacity: 0; }
		&:after, &:before{ background: #010050; }
		&:after{ transform: rotate(-45deg) translate(7px, -7px); }
		&:before{ transform:rotate(45deg) translate(7px, 7px); }
	}

}


/*--------- Lock Header UP Down --------*/
@keyframes sticky_head_anim{ 0%{ top: -200px; } 100% { top: 0; } }
.site-header.sticky{ position: fixed; animation: sticky_head_anim 1s ease; background: rgba(255,255,255,0.85); width: 100%; 
z-index: 999; }
/*--------- Lock Header UP Down Ends --------*/


/*-------- Menu Submenu Leve3 ---------*/
.site-header li.menu-item-has-children{ display: flex; flex-wrap: wrap; justify-content: space-between; 
	> a{ width: calc(100% - 40px); }
}
.site-header .sub-menu{ display: none; width: 100%; order: 3; padding: 20px 0; background: #010050;
	a{ font-size: 18px; text-transform: capitalize; padding: 6px 16px; color: #fff; font-weight: normal; }
	li{ margin-top: 0; }
}
.submenuToggle { background: #010050; width: 40px; margin: 0; order: 2; position: relative;
	&.open{ 
		&:before, &:after{ background: #fff; }
		&:before{ opacity: 0; }
	}

	&:before, &:after{ content: ''; position: absolute; left: 50%; top: 50%; background: #fff;
	transform: translate(-50%,-50%); transition: 0.7s all ease; }
	&:before{ width: 3px; height: 18px; } 
	&:after{ height: 3px; width: 18px; }

	&:hover{ cursor: pointer; }

}

/*---------- Mobile Menu --------------*/
@keyframes menuAnim{
	0%{ right: -50%; }
	100%{ right: 0; }
}

.menu-open{ overflow: hidden; 
	.main-navigation{ top: 0; right: 0; width: 100vw; height: 100vh; padding: 24px 28px 32px; background: #fff; 
	box-sizing: border-box; position: fixed; animation: 1s ease menuAnim; z-index: 999; max-width: 450px; overflow: auto; }

	.hamIcon{ margin: 0 auto 24px; display: block; }

	.site-header{ 
		.menu-site-menu-container{ display: table; width: 100%; height: calc(100vh - 100px); overflow: auto;
			.menu{ display: table-cell; vertical-align: middle; }
		}
	}

}


.site-header{ padding: 12px 0;
	.head-wrap{ display: flex; align-items: center; justify-content: space-between; }
	.menu{ display: none; }
	.site-branding{ padding-right: 35px;
		a{ max-width: 200px; }
	}
	a{ font-size: 24px; line-height: 1.5; display: block; text-transform: uppercase; font-weight: 600; 
	letter-spacing: 2px; color: #6b6b6b; box-sizing: border-box; }

	li{ margin-top: 24px; }

}


@media (min-width: 1200px){

	.hamIcon{
		&:after, &:before, span{ height: 5px; }
		&:hover, &:active, &:focus{ border: none; outline: none; background: none; box-shadow: none;
			&:after, &:before{ height: 5px; }
		}

		&.open{
			&:after{ transform: rotate(-45deg) translate(8px, -8px); }
		}

	}

}